.card-items {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 90vmin;
    flex-wrap: wrap;
}
.card-new-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    max-width: 90vmin;
    flex-wrap: wrap;
    justify-content: center;
}
.card-new {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 10vmin;
    width: 50vmin;
    overflow: hidden;
    border: 2px solid red;
    
}
.card-new-text {
    font-size: calc(10px + 1vmin);
}
.card-new-button {
    max-height: 10vmin;
    background-color: rgb(65, 65, 65);
    border: none;

}

.card-new-button-image {
    max-height: 10vmin;
}