.App {
  text-align: center;
  color: #fddf33;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo-container {
  display:flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}
.App-logo {
  height: 40vmin;
  transition: 0.5s;
  z-index: 2;
  position: relative;
  pointer-events: all;
  
}
.App-logo-button {
  height: 7vmin;
  width: 7vmin;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
  position:absolute; 
  z-index: 3;
}
.App-logo-background {
  height: 30vmin;
  transition: 0.5s;
  position:absolute;
  opacity: 0;
  z-index: 0;
  margin: 0;
  transform: translate(0%, 80%);
}

.App-logo:hover +.App-logo-button {
  background-color: #ff0000;
}
.App-logo-container:hover +.App-logo-background {
  transform: translate(0%, 70%);
  opacity: 1;
}
.App-logo-button:hover {
  background-color: #ff0000;
}
.App-logo-button:hover +.App-logo-background {
  transform: translate(0%, 70%);
  opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-container:hover {
    animation: App-logo-shake 1 1s linear;
    transform-origin: 50% 100%;
  }
  .App-logo:hover +.App-logo-button {
    animation: App-logo-button-glow infinite 1s linear;
  }
  .App-logo-container:hover ~ .App-logo-background {
    animation: App-logo-background-show 1 0.8s linear;
  }
  .App-logo-button:hover ~ .App-logo-background {
    animation: App-logo-background-show 1 0.8s linear;
  }
  .App-logo-button:hover {
    animation: App-logo-button-glow infinite 1s linear;
  }
  
}

.App-header {
  background-color: #101114;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 0.08em;                                             
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

@keyframes App-logo-shake {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(10deg);}
  40% {transform: rotate(-10deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
@keyframes App-logo-button-glow {
  from {
    box-shadow: none;
  }
  45% {
    box-shadow: 0 0 0.2em 0.2em #ff0000;
  }
  55% {
    box-shadow: 0 0 0.2em 0.2em #ff0000;
  }
  to {
    box-shadow: none;
  }
}
@keyframes App-logo-background-show {
  from {
    transform: translate(0%, 80%);
    opacity: 0; z-index: 0;
  }
  90% {
    transform: translate(0%, 70%);
    opacity: 1; z-index: 0;
  }
  to {
    transform: translate(0%, 70%);
    opacity: 1; z-index: 0;
  }
}
@media screen and (max-width: 400px) {
  .App-logo-background {
    display: none;
  }
}
@media screen and (max-height: 900px) {
  .App-logo-background {
    display: none;
  }
}