.card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 19vmin;
    min-width: 15vmin;
    border-radius: 10px;
    border: 2px solid red;
    overflow: hidden;
    background-color: rgb(65, 65, 65);
}
.card-new {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 19vmin;
    min-width: 15vmin;
    border-radius: 10px;
    border: 2px solid red;
    background-color: rgb(65, 65, 65);
    
}
.card-title {
    font-size: calc(5px + 1vmin);
    line-height: 1em;
    letter-spacing: 0.22em; 
    border: 1px solid white;
    border-radius: 10%;
    padding: 2px 5px 5px 5px;
    margin: 10px 0 10px 5px;
    align-self: flex-start;
}
.card-image {
    border: 1px solid white;
    border-radius: 10%;
    width: 13vmin;
    background-color: rgb(65, 65, 65);
}
.card-types {
    display: flex;
    justify-content: space-evenly;
    max-height: 10vmin;
    align-items: self-end;
    
}
.card-type {
    border: 1px solid white;
    height: fit-content;
    font-size: 10px;
    line-height: 1.5em;
    border-radius: 10%;
    padding: 0 0 5px 0;
    
}

@media screen and (max-width: 300px) {
    .card-image {
      min-height: 10vmin;
    }
  }