.header-title {
    letter-spacing: 0.2em;
    margin: 0; 
    line-height: 1em;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
  }
  .header-subtitle {
    margin: 0;
    line-height: 2em;
    text-shadow: 0px 0px 5px rgb(0,0,0);
  }
  .header-text {
    margin: 0;
    font-size: 15px;
    line-height: 2em;
    text-shadow: 0px 0px 5px rgb(0,0,0);
  }

  .landing-header-title {
    letter-spacing: 0.2em;
    margin: 0; 
    line-height: 1em;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
  }
  .landing-header-subtitle {
    margin: 0;
    line-height: 2em;
    text-shadow: 0px 0px 5px rgb(0,0,0);
  }

  @media screen and (max-width: 300px) {
    .head {
      transform: scale(60%);
    }

  }